<section>
    <div class="container py-5">
        <div class="row">
            <% books.forEach(function (book, index) { %>
            <div class="col-lg-2 col-md-3 col-6">

                <div class="card border-primary mb-3">
                    <div class="card-footer text-muted">
                        <img src="<%= book.src %>" class="card-img-top img-thumbnail" alt="Laptop" />
                        <smalla>
                            <p class="text-center item_text">
                                <%= book.title %>
                            </p>
                        </smalla>
                        <p class="text-center"><%= book.price %> <%= curency %></p>
                        <a href="product" class="text-dark stretched-link text-decoration-none"> </a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</section>
